@use "../../scss/mixins/layout" as *;
@use "../../scss/mixins/media" as *;

.searchBar {
  width: 100%;
  max-width: 600px;
  margin: 0 auto 2.5rem;
  padding: 0 1.5rem;
  position: relative;
  z-index: 10;

  &__form {
    @include flex(column, 0.5rem);
  }

  &__label {
    font-size: 0.8rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: var(--accent);
    margin-left: 0.5rem;
  }

  &__group {
    @include flex(row, 1rem);
    align-items: center;
  }

  &__inputWrapper {
    flex: 1;
    @include glass(30px);

    padding: 0.35rem;
  }

  &__input {
    width: 100%;
    background: transparent;
    border: none;
    padding: 0.75rem 1rem;
    color: var(--text-h);
    font-size: 1rem;
    outline: none;
    font-family: inherit;

    &::placeholder {
      color: var(--text);
      opacity: 0.5;
    }
  }

  &__button {
    @include glass(24px);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    color: var(--accent);
    cursor: pointer;
    font-size: 1.2rem;

    transition: 0.3s ease;
    &:hover {
      transform: translateY(-2px);
    }
    &:active {
      transform: scale(0.95);
    }
  }

  @media (max-width: 600px) {
    &__group {
      flex-direction: column;
    }

    &__inputWrapper,
    &__button {
      width: 100%;
    }
  }
}
