@use "../../scss/mixins/layout" as *;
@use "../../scss/mixins/media" as *;

.header {
  padding: 5rem 1.5rem 2rem;
  text-align: center;
  position: relative;
  z-index: 10;

  @include flex(column, 0.75rem);
  align-items: center;

  @include md {
    padding: 6rem 2rem 3rem;
  }

  h1 {
    font-size: 3.5rem;
    font-weight: 800;
    line-height: 1.2;
  }
  &__black {
    color: black;
  }
  &__blue {
    color: #4285f4;
  }

  &__red {
    color: #ea4335;
  }

  &__yellow {
    color: #fbbc05;
  }

  &__green {
    color: #34a853;
  }

  p {
    font-size: 0.95rem;
    color: var(--text);
    max-width: 500px;
    margin: 0;
    line-height: 1.5;
    font-weight: 500;

    @include md {
      font-size: 1.05rem;
    }
  }
}
