@use "../../scss/mixins/layout" as *;
@use "../../scss/mixins/media" as *;

.header {
  padding: 4rem 1.5rem 2rem;
  text-align: center;
  position: relative;
  z-index: 10;
  @include flex(column, 0.75rem);
  align-items: center;

  @include md {
    padding: 5rem 2rem 3rem;
  }

  h1 {
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: -0.01em;
  }

  p {
    font-size: 0.95rem;
    color: var(--text);
    max-width: 500px;
    margin: 0;
    line-height: 1.5;
    font-weight: 500;

    @include md {
      font-size: 1.05rem;
    }
  }
}
